/* ==============Google Fonts====================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/slick');


/*=================== CSS Variables================== */

:root{
    --white-color:#fff;
    --back-color:black;
    --dark-bg-color:#222;
    --body-bg-color:#fff;
    --theme-color: #F6921F;
    --theme-secondary-color: #272360;
    --box-shadow: 0px 5px 25px rgb(0 0 0 / 20%);
}


/* =================Main CSS ===============================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif; 
}

body{
    background: var(--body-bg-color);
    
}


/* Nav section code start */

/* Nav section code end */






/* slider scetion code start */

.home-hero-area{
    height: 90vh;
    width: 100%;
}

.bg-slider{
    z-index: 777;
    position: relative;
    width: 100%;
    height: 90vh;
}

.bg-slider .slide{
    position: relative;
    width: 100%;
    height: 90vh;

}

.bg-slider .slide img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events:none;
    background-repeat: no-repeat;
    overflow: hidden;
}

.slide .text-content {
    position: absolute;
    max-width: 700px;
    padding: 25px 25px 0 25px;
    top: 50%;
    color: var(--white-color);
    left: 15%;
    transform: translate(-15%, -50%);
    transition: 0.3s ease;
}

.slide .text-content .title{
    
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin: 25px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    transform: translateY(-50px);
    opacity: 0;
}

.slick-active .text-content .title{
    transform: translateY(0px);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}
.slide .text-content p{
    max-width: 700px;
    transform: translateX(-80px);
    opacity: 0;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 15px;

}

.slick-active .text-content p{
    transform: translateX(0px);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}



.slide .text-content .read-btn {
    border: none;
    outline: none;
    margin:10px 0;
    background: var(--theme-color);
    font-size: 1em;
    padding: 8px 25px;
    align-items: center;
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
    color: var(--white-color);
}

.read-btn a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 600;
}

.slick-active .text-content .read-btn{
    transform: translateX(0px);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.slide .text-content .read-btn i{
    font-size: 1em;
    margin-left: 5px;
    transition: 0.3s ease;
}
.slide .text-content .read-btn:hover{
    transform: translateX(5px);
    background: var(--theme-secondary-color);
    color: var(--white-color);
    outline: 1px solid var(--white-color);
   
}
 .dark-layout::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.5);
    
 }

 .bg-slider .slider-wrapper{
    margin: 0;
 }

 .bg-slider .slick-dots{
    width: 100%;
    bottom: 3%;
}
.bg-slider  .slick-dots li button::before{
    font-size: 30px;
    color: #ff6f00;
}
.bg-slider .slick-dots li {
    margin: 0 3px;
}
.bg-slider .slick-dots li.slick-active button::before {
    opacity: 1;
    color: #ff6f00;

}

.bg-slider .slick-arrow.prev{
    left: 0;
    
}
.bg-slider  .slick-arrow.next{
    right: 0;

}

.bg-slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 9;
    transform: translate(0, -50%);
    cursor: pointer;
}
.bg-slider .slick-arrow span{
    font-size: 30px;
    color: #fff;
    padding: 8px;
}

 /* slider code end */



/* About section start*/

a{
	text-decoration: none;
}
img{
	max-width: 100%;
}
.about-section{
	width: 100%;
	margin: 3rem auto;
}

.about-img-section img{
    max-width: 100%;
}

.about-info-section span {
	padding: 10px 0;
	font-size: 23px;
	color: #ed1b24;
	opacity: .9;

}
.about-info-section h2 {
	font-size: 40px;
	font-weight: 700;
	color: #2e3092;
	padding: 0;
}
.about-info-section p {
	font-size: 16px;
	letter-spacing: 0px;
	word-spacing: 1px;
	padding: 4px 0;
	color: #444;
	text-align: justify;
}
.tab-section {
	padding: 17px 0;
}
.tab-section p {
	padding: 8px 0;
	color: black;
	opacity: 0.6;
}

.about-contact {
	padding: 6px 0;
    text-align: right;
    
}
.about-contact span{
    color: #ed1b24;
    font-size: 16px;
    font-weight: 500;
}
.about-contact h6{
    margin: 0px;
    font-size: 18px;
    line-height: 145%;
    padding: 10px 0;
    margin-bottom: 15px;
    font-weight: 600;
    color: #2e3092;
    text-transform: uppercase;
}
.about-contact p {
	color: #53545A;
	font-size: 18px;
}
.about-middle-img {
	text-align: center;
	margin-top: 185px;
}
.about-top-img {
	height: 65px;
	width: 65px;
	text-align: center;
	background: #fff1eb;
	border-radius: 50%;
	margin: auto;
}
.about-top-img img{
    max-width: 100%;
    text-align: center;
    max-width: auto;
}
.about-border {
	height: 150px;
	width: 1px;
	border: 1px dotted;
	text-align: center;
	margin: auto;
	padding: 5px 0 10px 0;
}

.about-contacts span{
    color: #ed1b24;
    font-size: 16px;
    font-weight: 500;
}
.about-contacts h6{
    margin: 0px;
    font-size: 18px;
    line-height: 145%;
    padding: 10px 0;
    margin-bottom: 15px;
    font-weight: 600;
    color: #2e3092;
    text-transform: uppercase;
}
.about-contacts p{
    color: #53545A;
	font-size: 18px;
}


.about-icon span{
	font-size: 70px;
    line-height: 1;
    color: #ed1b24;
	display: inline-block;
	margin-right: 5px;
}
.about-icon-content{
	margin-top: 5px;
}
.about-icon-content h6 {
	margin-top: 2px;
	margin-bottom: 12px;
	font-weight: 700;
	color: #2e3092;
	font-size: 18px;
	text-transform: uppercase;
}


.about-member-details{
	margin: 35px 0 !important;
}
.about-member-details:hover .member-image img {
	transform: scale(1.2);
}
.member-image {
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
}
.member-image img{
	max-width: 100%;
	transition: all .4s ease-in-out;
}
.about-details {
    width: 80%;
    height: 65px;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.about-details::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -15px;
	background: red;
	height: 1%;
	width:0%;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
}
.about-member-details:hover .about-details::before{
	visibility: visible;
	opacity: 1;
	width: 100%;

}
.member-data {
	padding: 0 12px;
	margin-top: 15px;
	transition: all .4s ease-in-out;
}
.about-member-details:hover .member-data{
	opacity: 0;
	visibility: hidden;
	position: relative;
	transform: translateY(-50px);

}
.member-data span{
	color: black;
	font: 20px;
}
.member-data h3{
	font-size: 25px;
	color:#2e3092 ;
}
.member-email{
	visibility: hidden;
	opacity: 0;
	transform: translateY(25px);
	position: absolute;
	top: 40%;
	left:0;
	right: 0;
	margin: auto;
	bottom: 50px;
	transition: all .6s ease-in-out;
}
.about-member-details:hover .member-email{
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.about-member-details:hover .member-email a{
	font-size: 16px;
}
.member-email a {
	display: inline-block;
	font: 27px;
	color: blue;
	font-size: 14px;
	transition: all .4s ease-in-out;
}
.member-email a:hover{
	text-decoration: none;
	color: red;
}

.about-logo-img {
    margin-top: 50px;
    text-align: center;
}
.about-logo-img img{
	max-width: 100%;
	text-align: center;
}

.member-image img{
    margin: 1rem;
    width: 100%;
  
}

.about-logo-img img{
    margin: 1rem;
    width: 100%;
}
/*about  section end*/

/*product section start*/

.card-design{
    width: 100%;
    height: 200vh;
    background-color: rgb(255, 255, 255);
}
h1{
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align:center;
    text-transform: uppercase;
    padding-top: 20px;
}

.container{
    width:100%
}
/* *---- starts------ */

 .nav ul{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-bottom: 2px solid #042ff091;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.nav ul li{
    list-style: none;
    background-color:rgba(158, 137, 137, 0.504);
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
   font-size: 2rem;
   border-radius: 5px;
   text-transform: uppercase;
}
.nav ul li.active{
    background-color: rgb(138, 105, 59);
    color: rgb(247, 246, 246);
    transition: all .3s;
}
.nav ul li.active:hover{
    background-color:rgb(138, 105, 59);
    color: aliceblue;
    scale: 1.1;
}
.products{
    width: 100%;
    padding:0 0px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.products img{
    width: 300px;
    height: 250px;
    margin-top: 10px;
    padding:0 10px;
    margin: auto;
    border: 1px solid rgb(46, 67, 67);
    border-radius: 5px;
    transition: all .3s;
}
.products img:hover{
    scale: 1.1;
}

/*product section end*/


/* footer start */


a {
    transition: .5s;
    color: #fff;
}

.tab-section ul li {
    list-style-type: none;
}

footer {
    background-color: rgb(58, 28, 129);
    color: #fff;
    height: 500px;
}

.footer-info {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}

.footer-info .footer-width {
    padding: 0 15px;
}

.footer-info h2 {
    margin-bottom: 20px;
}
.contact {
    width: 30%;
}

.contact ul li{
    margin-bottom: 10px;
    align-items: center;
    display: flex;
}
 .contact ul li span{
    margin-right: 10px;
 }
.link{
    width: 30%;
}

.link ul li{
    margin-bottom: 10px;
    font-size: 16px;
}

.link ul li a:hover{
    color: green;
}

.about {
    width: 30%;
}
.logo-box{
    background-color: rgb(224, 168, 65);
    padding: 60px 20px;
    display: flex;
}

.scl-icon ul{
    display: flex;
    justify-content: end;
    align-items: center;
}
.scl-icon ul li{
    position: relative;
    display: block;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 50px;
    background: rgb(55, 10, 97);
    line-height: 50px;
    margin: 0 15px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 5px rgb(79, 20, 146) ;
}

.scl-icon ul li:before{
    position: absolute;
    content: '';
    top: 3px;
    left: 0;
    background: orange;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s;
}

.scl-icon ul li:hover:before{ 
    box-shadow: 3px white;
}
.scl-icon ul li:hover{
    color: orange;
    text-shadow: 3px white;
    box-shadow: 0 3px white;

}


.copy-right{
    padding: 15px 20px;
    text-align: left;
    display: flex;
    background: #fff;
    color: #000;
}
.copy-right a{
    color: rgb(82, 8, 143);
}
.condition{
    text-align: right;
    padding: 20px 20px;
}

/* footer end */


































@media (max-width:1199px){
		.member-data {
			padding: 0 12px;
			margin-top: 5px;
			text-align: center;
		}
		.member-email {
			visibility: hidden;
			opacity: 0;
			transform: translateY(15px);
			position: absolute;
			top: 30%;
			left: 0;
			right: 0;
			margin: auto;
			bottom: 50px;
			transition: all .6s ease-in-out;
		}

	}




@media only screen and (max-width: 991px){

     /* slider code start */
    .slide .text-content {
        max-width: 100%;
        padding: 10px 10px 0 70px;
        color: var(--white-color);
    }
    .slide .text-content .title {
        font-weight: 600;
        font-size: 50px;
        line-height: 65px;
        
    }
    .slide .text-content p {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 20px;
        margin-bottom: 15px;
        text-align: justify;
    }

    .slide .read-btn{
        padding: 8px 24px;
        font-size: 14px;
    }

     /* slider code end */
   
  	.about-middle-img{
		display: none;
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}
	.icon-devug{
		margin: 7px 0;
	}
	.about-icon-content h6 {
		font-size: 14px;
	}
	.about-icon span {
		font-size: 54px;
	}

	.img-hide{
		display: none;
	}
	.about-bottom-section{
		text-align: left;
	}
	.about-member-details:hover .member-email a {
		font-size: 16px;
	}

    .contact{
        width: 35%;
    }
    .link{
        width: 25%;
    }
    .about{
        width: 25%;
    }

}
    
@media only screen and (max-width: 414px){
    
 /* slider code start */
    .home-hero-area{
        height: 70vh;
    }
    
    .bg-slider{
        height: 70vh;
    }
    
    .bg-slider .slide{
        height: 70vh;
    
    }
    
    .bg-slider .slide img{
        
        height: 70vh;
       
    }
    .slide .text-content {
        max-width: 100%;
        padding: 5px 5px 0 40px;
        text-align: center;
        
    }
    .slide .text-content .title {
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        
    }
    .slide .text-content p {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 18px;
        margin-bottom: 15px;
        text-align: justify;
    }

    .slide .read-btn{
        padding: 8px 24px;
        font-size: 14px;
        text-align: center;
    }
     /* slider code end */
}

	@media (max-width:767px){
		.icon-devug{
			margin: 7px 0;
		}
		.about-contact {
			padding: 3px 0;
			text-align: left;
		}
		.member-image {
			text-align: center;
		}
        .contact , .link , .about{
            width: 100%;
            margin-bottom: 30px;
        }
        .footer-info{
            flex-direction: column;
        }
	}
	











