/* ==============Google Fonts====================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/slick');


/*=================== CSS Variables================== */

:root{
    --white-color:#fff;
    --back-color:black;
    --dark-bg-color:#222;
    --body-bg-color:#fff;
    --theme-color: #F6921F;
    --theme-secondary-color: #272360;
    --box-shadow: 0px 5px 25px rgb(0 0 0 / 20%);
}


/* =================Main CSS ===============================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--body-bg-color);

}

/* Nav section code start */

/* Nav section code end */






/* slider scetion code start */

.home-hero-area {
    height: 90vh;
    width: 100%;
    margin-left: 98px;
}

.bg-slider {
    z-index: 777;
    position: relative;
    width: 92%;
    height: 90vh;
}

.bg-slider .slide{
    position: relative;
    width: 100%;
    height: 90vh;

}

.bg-slider .slide img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events:none;
    background-repeat: no-repeat;
    overflow: hidden;
}

.slide .text-content {
    position: absolute;
    max-width: 700px;
    padding: 25px 25px 0 25px;
    top: 50%;
    color: var(--white-color);
    left: 15%;
    transform: translate(-15%, -50%);
    transition: 0.3s ease;
}

.slide .text-content .title{

    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin: 25px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    transform: translateY(-50px);
    opacity: 0;
}

.slick-active .text-content .title{
    transform: translateY(0px);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}
.slide .text-content p{
    max-width: 700px;
    transform: translateX(-80px);
    opacity: 0;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 15px;

}

.slick-active .text-content p{
    transform: translateX(0px);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}



.slide .text-content .read-btn {
    border: none;
    outline: none;
    margin:10px 0;
    background: var(--theme-color);
    font-size: 1em;
    padding: 8px 25px;
    align-items: center;
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
    color: var(--white-color);
}

.read-btn a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 600;
}

.slick-active .text-content .read-btn{
    transform: translateX(0px);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.slide .text-content .read-btn i{
    font-size: 1em;
    margin-left: 5px;
    transition: 0.3s ease;
}
.slide .text-content .read-btn:hover{
    transform: translateX(5px);
    background: var(--theme-secondary-color);
    color: var(--white-color);
    outline: 1px solid var(--white-color);

}
.dark-layout::before {
    content: '';
    position: absolute;
    width: 920%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

 .bg-slider .slider-wrapper{
    margin: 0;
 }

 .bg-slider .slick-dots{
    width: 100%;
    bottom: 3%;
}
.bg-slider  .slick-dots li button::before{
    font-size: 30px;
    color: #ff6f00;
}
.bg-slider .slick-dots li {
    margin: 0 3px;
}
.bg-slider .slick-dots li.slick-active button::before {
    opacity: 1;
    color: #ff6f00;

}

.bg-slider .slick-arrow.prev{
    left: 0;

}
.bg-slider  .slick-arrow.next{
    right: 0;

}

.bg-slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 9;
    transform: translate(0, -50%);
    cursor: pointer;
}
.bg-slider .slick-arrow span{
    font-size: 30px;
    color: #fff;
    padding: 8px;
}

 /* slider code end */















@media only screen and (max-width: 992px){

     /* slider code start */
    .slide .text-content {
        max-width: 100%;
        padding: 10px 10px 0 70px;
        color: var(--white-color);
    }
    .slide .text-content .title {
        font-weight: 600;
        font-size: 50px;
        line-height: 65px;

    }
    .slide .text-content p {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 20px;
        margin-bottom: 15px;
        text-align: justify;
    }

    .slide .read-btn{
        padding: 8px 24px;
        font-size: 14px;
    }

     /* slider code end */

}

@media only screen and (max-width: 414px){

 /* slider code start */
    .home-hero-area{
        height: 70vh;
    }

    .bg-slider{
        height: 70vh;
    }

    .bg-slider .slide{
        height: 70vh;

    }

    .bg-slider .slide img{

        height: 70vh;

    }
    .slide .text-content {
        max-width: 100%;
        padding: 5px 5px 0 40px;
        text-align: center;

    }
    .slide .text-content .title {
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;

    }
    .slide .text-content p {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 18px;
        margin-bottom: 15px;
        text-align: justify;
    }

    .slide .read-btn{
        padding: 8px 24px;
        font-size: 14px;
        text-align: center;
    }
     /* slider code end */
}

/*navbar start */
#preloader{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 10000;
    overflow: hidden;
  }
  .preloader-logo{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-40%,-40%);
    width: 10%;
    height: 0%;
  }
  #path_1{
    animation:animateOne -0.5s linear 0.8s infinite alternate;
  }

  #path_2{
    animation:animateTwo -1s linear 0.8s infinite alternate;
  }
  @keyframes animateOne {
      0%{
        opacity:0;
        fill: #ffffff;
      }
      100%{
        opacity:1;
        fill:blue;
      }
  }
  @keyframes animateTwo {
      0%{
        opacity:0;
        fill:#ffffff;
      }
      100%{
        opacity:1;
        fill:red;
      }
  }

  .dropdown-menu{
    margin-top: 10px;
  }
  .dropdown-menu li{
    position: relative;
    margin-top: 2px;
   }
   .dropdown-menu li :hover{
    display: block;
   }
.hero-social-elements {
    position: fixed;
    left: 0;
    top: 70px;
    height: 100%;
    width: 100px;
    background-color: #fff;
    z-index: 99;
  }
  .hero-social-elements .flp-text {
    position: absolute;
    top: 8%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .hero-social-elements .flp-text p {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #2e3092;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  .hero-social-elements .social-link {
    display: block;
    top: 30%;
    left: 50%;
    position: relative;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 50px;
    background-color: #fff;
    z-index: 2;
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
  }
  .hero-social-elements .social-link a {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ebedf2;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin: 5px 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .hero-social-elements .long-arrow {
    width: 1px;
    height: 100px;
    background-color: #cfd2de;
    display: block;
    position: absolute;
    content: "";
    left: 50%;
    top: 15%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .hero-social-elements .long-arrow::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #cfd2de;
    bottom: -9px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .hero-social-elements .social-link::after {
    width: 1px;
    height: 100px;
    background-color: #cfd2de;
    display: block;
    position: absolute;
    content: "";
    left: 50%;
    top:99%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .social-link a:hover{
    background-color: red;
  }

.btn-danger{
    margin-left: 11px; !important
    padding: 4px; !important
}
.right-Manu{
 float: right; !important
}
  .logo {
    height: 79px;
     width: 90px;
    float: left;
  }
  .logo img{
    width: 100%;
  }
/*navbar End */


